* {
	box-sizing: border-box;
  }

.center {
	text-align: center;
	border: 3px solid grey
}

.columns {
    width: 100%;
    display: flex;
    justify-content: center !important;
    margin: auto;
    text-align: center !important;
}

.col {
    padding: 1em;
    border: 4px solid grey;
    margin: 1em;
}

.leftcol {
    float: left;
    flex-basis: 17%;

}

.rightcol {
    float: right;
    flex-basis: 83%;
} 

table{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

th, td {
	width: 100px;
	height: 125px;
	border: 1px solid black;
}

button {
    border: 0;
    padding: 0;
    display: inline;
    background: none;
    text-decoration: underline;
    color: blue;
}
button:hover {
    cursor: pointer;
}